<div>
<div>
        <a href="/boards">
          Bulletin Board
        </a>
      </div>
      <hr>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
<hr>
</div>

<h2>Add a new post</h2>

<form action = "/insert_post" method = "post">
  <div>
    <label for = "query_title"> Title </label>
    <input type = "text" id = "query_title" name = "query_title">
  </div>
  <div>
    <label for = "query_body"> Body </label>
    <input type = "text" id = "query_body" name = "query_body">
  </div>
  <div>
    <label for = "query_expires_on"> Expires on </label>
    <input type = "date" id = "query_expires_on" name = "query_expires_on">
  </div>
  <div>
    <input type="hidden" id="board_id_box" name="query_board_id" value="<%=@the_board.id%>">
  </div>

  <button>
    Add post
  </button>
</form>

<hr>
<h2> Active posts </h2>

<table border = "1">
  <tbody>
    <tr> 
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th> 
    </tr>
    <% @relevant_posts.each do |a_post|%>
    <tr>
      <td> <%=a_post.title%> </td>
      <td> <%=a_post.body%> </td>
      <td><%= a_post.created_at.strftime("%B %-d, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%B %-d, %Y") %></td>

    </tr>
    <% end%>
  </tbody>
</table>

<hr>

<h2> Expired posts </h2>

<table border = "1">
  <tbody>
    <tr> 
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th> 
    </tr>
    <% @expired_posts.each do |a_post|%>
    <tr>
      <td> <%=a_post.title%> </td>
      <td> <%=a_post.body%> </td>
      <td><%= a_post.created_at.strftime("%B %-d, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%B %-d, %Y") %></td>

    </tr>
    <% end%>
  </tbody>
</table>
